/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(12, 12, 12);
}


.site-wide {
    width: 30px;
    height: 30px;
    border-radius: 360%;
    background-color: yellow;
}


html {
    scroll-behavior: smooth;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
    font-weight: 200;
}

img {
    -webkit-user-drag: none;
}

button {
    background-color: yellow;
    color: black;
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    width: fit-content;
}


button:hover {
    background-color: #E4E500;
    color: black;
    text-decoration: none;
}

button:active{
    background-color: #CBCC00;
    color: black;
    text-decoration: none;
}


/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}


/* DESKTOP NAV */

nav, 
.nav-links {
    display: flex;
    background-color: rgb(12, 12, 12);
}

nav {
    justify-content: space-around;
    align-items: center;
    height:92px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
  color: white;  
  text-decoration: overline;
  text-underline-offset: 0.4rem;
  text-decoration-color: white;
}

.logo {
    height: 28px;
}

.logo-link{
    height: 28px;
}

.logo:hover {
    cursor: pointer;
}


/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 32px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.hamburger-icon span {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: 200ms;
}

.menu-links {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden; 
    left: 0;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 0;
}

.menu-links a {
    display: block;
    margin: 40px;
    text-align: right;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.menu-links a:hover {
    text-decoration: underline;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 100%;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(8.4px, 4px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0%;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(8.4px, -4px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}


/* SUBPAGE SECTIONs */

.subpage-sections {
    padding-top: 92px;
}


/* HERO SECTION */

.main-intro {
    height: 95vh;
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 21%;
    padding-top: 56px;
}

.hero-title {
    font-size: 5rem;
    line-height: 120%;
}

.hero-paragraph {
    font-size: 1rem;
    padding-bottom: 24px;
}

.hero-button {
    background-color: yellow;
    color: black;
    font-family: inherit;
    font-weight: 400;
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    width: fit-content;
}


.hero-button:hover {
    background-color: #E4E500;
    color: black;
    text-decoration: none;
}

.hero-button:active{
    background-color: #CBCC00;
    color: black;
    text-decoration: none;
}


/* PROJECTS SECTION */

.card-container {
    display: flex;
    justify-content: center;
    padding-top: 0%;
    padding-bottom: 0px;
}

.card-container a:hover {
    text-decoration: none;
}

.card {
    width: 100%;
    overflow:hidden;
    padding: 8px;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
}

.card img:hover {
    opacity: 72%;
}


/* CAROULSEL */

.logos {
    overflow: hidden;
    padding: 24px 0px;
    background-color: yellow;
    white-space: nowrap;
}

.logos-slide {
    display: inline-block;
    animation: 28s slide infinite linear;
}

.logos-slide img {
    height: 40px;
    margin: 0px 24px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* FOOTER */

.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 72px 0px;
    box-sizing: border-box;
    background-color: rgb(12, 12, 12);
}

.inner-footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner-footer .logo-container {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
    margin-left: 32px;
}

.inner-footer .logo-container img{
    width: 64px;
    height: auto;
}

.inner-footer .logo-third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner-footer .logo-third:last-child {
    margin-right: 0;
}

.inner-footer .logo-third h1 {
    font-size: 21px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .logo-third a {
    font-size: 16px;
    display: block;
    width: 100%;
    padding-bottom: 4px;
}

.inner-footer .logo-third a:hover {
    text-decoration: underline;
}


/* CONTACT ME */

.form-section {
    display: flex;
    justify-content: center;
    padding-top: 92px;
}

.contact-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 40%;
    max-width: 600px;
}

.contact-container-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.input-error {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    color: rgb(176, 59, 59);
    font-size: 12px;
    visibility: hidden;
}

.form-button-container {
    display: flex;
    justify-content: right;
    padding-top: 16px;
}

.form-button {
    width: 32%;
    font-family: inherit;
    font-weight: 400;
}

input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: none;
    border: 1px solid;
    border-color: rgb(49, 49, 49);
    background-color: black;
    color: white;
}

input, .input-error {
    --left: 0;
    left: var(--left);
    position: relative;
}

input::placeholder {
    color: grey;
}

input:focus {
    border: 1px solid white;
    outline: none;
}

input:not(:placeholder-shown):not(:focus):invalid {
    border: 1px solid rgb(176, 59, 59);
    animation: error-shake 600ms;
    animation-timing-function: linear;
}

input:not(:placeholder-shown):not(:focus):invalid ~ .input-error {
    visibility: visible;
}

@keyframes error-shake {
    0% {
        --left: -10px;
    }
    20% {
        --left: 8px;
    }
    40% {
        --left: -6px;
    }
    60% {
        --left: 4px;
    }
    80% {
        --left: -2px;
    }
    100% {
        --left: 0px;
    }
}

textarea {
    resize: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    height: 96px;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: none;
    border: 1px solid;
    border-color: rgb(49, 49, 49);
    background-color: black;
    color: white;
}

textarea:focus {
    border: 1px solid white;
    outline: none;
}

textarea::placeholder{
    color: gray;
}